<!DOCTYPE html>
<html>
<head>
    <title>Employee Page</title>
    <link rel="stylesheet" href="Contactus.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html {
            box-sizing: border-box;
        }

        *, *:before, *:after {
            box-sizing: inherit;
        }

        .column {
            float: left;
            width: 33.3%;
            margin-bottom: 16px;
            padding: 0 8px;
        }



        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .container {
            padding: 0 16px;
        }

            .container::after, .row::after {
                content: "";
                clear: both;
                display: table;
            }

        .title {
            color: black;
        }

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: black;
            text-align: center;
            cursor: pointer;
            width: 100%;
        }

            .button:hover {
                background-color: grey;
            }
    </style>

</head>
<body>

    <h2>"Meet The Team"</h2>
    <br>

    <div class="row">
        <div class="column">
            <div class="card">

                <div class="container">
                    <h2>Saifuddeen</h2>
                    <p class="title">CEO & Founder</p>
                    <p> responsible for managing a company's overall operations.</p>
                    <p>saif@gmail.com</p>
                    <p><center><button class="button">Contact</button></center></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Harinee</h2>
                    <p class="title">Art Director</p>
                    <p>Have no fear of perfection—you'll never reach it.</p>
                    <p>harinee@gmail.com</p>
                    <p><center><button class="button">Contact</button></center></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Thoushif</h2>
                    <p class="title">Designer</p>
                    <p>modifying designs for construction projects.</p>
                    <p>thoushif@gmail.com</p>
                    <p><center><button class="button">Contact</button></center></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>